* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --grid-gap: 20px;
}

.container{
	display: grid;
	display: flex;
	height: calc(100vh - (var(--grid-gap) * 2) );
	grid-template-rows: 150px auto 300px;
	grid-template-columns: .2fr 4fr .2fr;
	grid-gap: var(--grid-gap);
	margin: var(--grid-gap);
	flex-direction: column;
}

.header {
	grid-column: 1/-1;	
	justify-content: center;
	align-self: center;
	border-top:  10px solid black;
	border-bottom: 10px solid black;
}

.main__content__item--2{
	display: flex;
	flex-wrap: wrap;
}


.footer {
	grid-column: 1/-1;
}




.main__content{
	display: grid;
	grid-column: 1/-1;
	grid-template-rows: repeat(2,1fr);
	grid-gap: var(--grid-gap);
}

.main__right__sidebar{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: var(--grid-gap);
}

.main__left__sidebar{
	/*display: grid;
	grid-template-rows: repeat(4,1fr);*/
	grid-gap: var(--grid-gap);
}

.picture_holder{
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;

}

.picture_holder *{
	flex-basis: 50px;
	flex-grow: 1;
	/*will take a fraction of 1 each*/
}

#profile_pic{
	max-width: 70%;
    height: auto;
    border-radius: 50%; 
}

.picture_container{
	display: flex; 
	justify-content: center;
}

.header{
	background-color: black;
	color: grey;
}



